# Ignore compiled binaries
*.exe
*.o

# Ignore build directories
build/

# Ignore user-specific settings files
.vscode/
tasks.json
settings.json

test.cpp
commands.txt
#registry.hpp
#registry.impl.hpp